<h1>Enter your new Album</h1>

<form action="/cds" method="post">
  <div class="form-group">
    <label for="artist">Artist Name:</label>
    <input type="text" name="artist" class="form-control">
    <br>
    <label for="album">Album Name:</label>
    <input type="text" name="album" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Submit</button>
</form>
